<mat-toolbar style="position: sticky; top: 0; right: 0; left: 0;">
  <button mat-icon-button (click)="sidenav.toggle()" class="btn btn-outline-light mr-3" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Minha Aplicação</span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="btn btn-outline-light" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="btn btn-outline-light" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button> -->
</mat-toolbar>
