<div style="width: 260px; height: 100vh; position: sticky; left: 0;">

  <div class="sidebar-header p-3">
    <div class="user-avatar">
      <p>G</p>
    </div>

    <div class="user-info p-2">
      <p>Gabriel Nogueira</p>
    </div>

    <button [routerLink]="'../login/'" class="btn-clear"><i class="fa fa-lg fa-sign-out-alt"></i></button>
  </div>

  <mat-divider></mat-divider>

  <ng-material-multilevel-menu
    [configuration]='config'
    [items]='appItems'
  >
  </ng-material-multilevel-menu>
</div>
